html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(https://img.freepik.com/vector-gratis/plantilla-fondo-estampado-amante-gatos_53876-100661.jpg?w=2000);
    background-size: 100%;
}

.contenedor{
    position: absolute;
    margin: 60px auto;
    width: 450px;
    padding: 30px;
    background: rgba(0,0,0, .5);
    border-radius: 10px;
    left: 20px ;
    top: 1px;
}

.contenedor h2{
    margin: 0 0 50px;
    padding: 0;
    font-size: 30px;
    color: #F5A6D7;
    text-align: center;
}

.contenedor .elemento label{
    color: #fff;
    font-size: 20px;
}

.contenedor .elemento input{
    width: 100%;
    padding: 10px 0;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px;
}

.contenedor .elemento input[type="submit"]{
    background-color: #F5A6D7;
    border:none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
}

img{
    border-radius: 10px;
    width: 95px;
    /* position: absolute; */
    /* bottom: 300px; */
    margin-left: 170px; 
}
/* estilos para el link */
a:link {
    color: #d38013b7;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #E06793;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #8D6CE0;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #E03838;
    background-color: transparent;
    text-decoration: underline;
  }
  
.atras{
    position: absolute;
    bottom: 810px;
    left: 10px;
}

.contenedoralerta{
    position: absolute;
    background: rgb(250, 246, 246);
    width: 600px;
    height: 200px;
    left: 700px;
    top: 150px;
    border-radius: 30px;
}

.alerta{
    position: absolute;
    top: 70px;
    left: 40px;
}

.imagen4{
    position: absolute;
    left: 40px;
    bottom: 160px;
}

.imagen5{
    position: absolute;
    right: 500px;
    top: 131px;
}